<div class="row">
  <div class="col-xs-12">
    <h1>{{ vehicle.model }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{ vehicle.matricula }}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="class">
      <app-speedometer *ngIf="isVelocimetroEnable"></app-speedometer>
      <app-fuel-meter *ngIf="isCombustibleEnable"></app-fuel-meter>
      <app-capacity *ngIf="isCapacidadEnable"></app-capacity>
    </div>
    <hr />
    <div>
      <button
        type="button"
        [ngClass]="isEnable ? 'btn btn-success' : 'btn btn-danger'"
        (click)="onTurnOnOffVehicle()"
        [disabled]="panicStatus"
      >
        {{ isEnable ? "Apagar" : "Prender" }} Auto
      </button>
    </div>
    <hr />
  </div>
  <div class="contenedor col-xs-12">
    <button type="button" class="btn btn-primary" (click)="onEditVehicle()">
      Editar Auto
    </button>
    <button type="button" class="btn btn-danger" (click)="onDeleteVehicle()">
      Eliminar Auto
    </button>
  </div>
</div>
