<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand">Monitoreo Vehicular</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active" *ngIf="isAuthenticated">
          <a routerLink="/vehicles">Vehiculos</a>
        </li>
        <li routerLinkActive="active" *ngIf="isAuthenticated && isAdmin">
          <a routerLink="/admin-view">Administrador</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li routerLinkActive="active" *ngIf="!isAuthenticated">
          <a routerLink="/auth">Iniciar Sesion</a>
        </li>
        <li routerLinkActive="active" *ngIf="isAuthenticated">
          <a
            style="cursor: pointer;"
            (click)="onLogout()"
            routerLink="/vehicles"
            >Cerrar Sesion</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
