<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success" (click)="onNewCar()">Nuevo Auto</button>
    <hr />
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <app-vehicle-item
      *ngFor="let vehicleElem of vehicles; let i = index"
      [vehicle]="vehicleElem"
      [index]="i"
    ></app-vehicle-item>
    <hr />
  </div>
  <div class="col-xs-12">
    <button
      [ngClass]="panicButtomOn ? 'btn btn-success' : 'btn btn-danger'"
      (click)="onPanic()"
    >
      BOTON DE PANICO
    </button>
    <hr />
    <button type="button" class="btn btn-primary" (click)="onFetchData()">
      Descargar datos
    </button>
  </div>
</div>
