<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="saveEveryForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="saveEvery"
              >Guardar los datos cada cuantos segundos?</label
            >
            <input
              type="text"
              [value]="saveNumberData"
              id="saveEvery"
              class="form-control"
              formControlName="saveEvery"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="contenedor col-xs-12">
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="!saveEveryForm.valid"
          >
            Guardar
          </button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">
            Cancelar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
