<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="sensorForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Nombre</label>
            <input
              type="text"
              id="name"
              class="form-control"
              formControlName="name"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="alarm">Umbral de Alarma</label>
            <input
              type="text"
              id="alarm"
              formControlName="alarm"
              class="form-control"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="saveEvery">Guardar datos cada cuantos minutos?</label>
            <input
              type="text"
              id="saveEvery"
              formControlName="saveEvery"
              class="form-control"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="email">Email para enviar los reportes</label>
            <input
              type="text"
              id="email"
              formControlName="email"
              class="form-control"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="contenedor col-xs-12">
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="!sensorForm.valid"
          >
            Guardar
          </button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">
            Cancelar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
