<div class="row">
  <div class="col-xs-12">
    <h1>{{ sensor.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="class">
      <app-speedometer *ngIf="velocimetroSelected"></app-speedometer>
      <app-fuel-meter *ngIf="fuelSelected"></app-fuel-meter>
      <app-capacity *ngIf="capacitySelected"></app-capacity>
    </div>
    <hr />
  </div>
  <div class="contenedor col-xs-12">
    <button type="button" class="btn btn-primary" (click)="onEditSensor()">
      Editar Sensor
    </button>
    <button type="button" class="btn btn-danger" (click)="onDeleteSensor()">
      Eliminar Sensor
    </button>
  </div>
</div>
